body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
.page{
    display: flex;
    flex-wrap: wrap;
}
.page .topBar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.page .topBar .logo{
    width: 20%;
    padding: 15px 0;
    margin-top: 10px;
    text-align: center;
}
.page .topBar .logo .logoIcon{
    display: inline-block;
    vertical-align: middle;
}
.page .topBar .logo .logoIcon img{
    width: 16px;
}
.page .topBar .logo .logoName{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 3px;
    vertical-align: middle;
}
.page .topBar .header{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background: #2d3d4f;
    padding: 8px 0;
}
.page .topBar .header .leftHeader{
    justify-content: flex-start;
    width: 50%;
}
.page .topBar .header .leftHeader{
    justify-content: flex-start;
    display: flex;
    width: 50%;
}
.page .topBar .header .leftHeader .hamburgerIcon{
    padding: 20px 10px 20px 30px;
}
.page .topBar .header .leftHeader .hamburgerIcon .line{
    width: 18px;
    height: 2px;
    margin-top: 3px;
    background: white;
}
.page .topBar .header .leftHeader .hamburgerIcon:hover .line{
    background: #64b0f2;
    transition: background .5s;
}
.page .topBar .header .leftHeader .search{
    padding: 10px 20px;
}
.page .topBar .header .leftHeader .search input{
    border: 1px solid rgba(129, 138, 145, 0.3);
    background: rgba(129, 138, 145, 0.1);
    height: 34px;
    padding: 0 20px;
    font-size: 13px;
    color: white;
    width: 200px;
    border-radius: 30px;
    background-image: url("..//icons/search.svg");
    background-repeat: no-repeat;
    background-position: 160px 10px;
    outline: none;
    letter-spacing: 0.03em;
    font-weight: 400;
}
.page .topBar .header .leftHeader .search:hover input {
    background-image: url("..//icons/searchWhite.svg");
}
.page .topBar .header .rightHeader{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.page .topBar .header .rightHeader .icon{
    padding: 16px 15px;
}
.page .topBar .header .rightHeader .icon img{
    width: 15px;
}
.page .topBar .header .rightHeader .icon.Mail img{
    width: 18px;
}
.page .topBar .header .rightHeader .icon.Activity{
    margin-top: 4px;
}
.page .topBar .header .rightHeader .account{
    padding: 10px 20px;
}

.page .topBar .header .rightHeader .account img{
    border-radius: 20px;
    width: 35px;
}
.page .topBar .sideMenu {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    overflow: scroll;

}
.page .topBar .sideMenu .menuTitle{
    width: 100%;
    color: #868e96;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 30px;
}
.page .topBar .sideMenu .menuTabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.page .topBar .sideMenu .menuTabs .menuTab{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 16px 0;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 500;
    cursor: default;
    opacity: 0.8;
}
.page .topBar .sideMenu .menuTabs .menuTab .menuTabIcon{
    padding-left:30px;
    text-align: center;
    width: calc(15% - 30px);

}
.page .topBar .sideMenu .menuTabs .menuTab .menuTabTitle{
    width: calc(85% - 30px);
    padding-left: 30px;
    color: rgba(43, 61, 81, 1);
}
.page .topBar .sideMenu .menuTabs .menuTab:hover{
    opacity: 1;
    transition: opacity .5s;
}
.page .topBar .sideMenu .menuTabs .menuTab.Selected{
    background: #64b0f2;
    opacity: 1;
}
.page .topBar .sideMenu .menuTabs .menuTab.Selected .menuTabTitle{
    color: white;
    letter-spacing: 0.05em;
}
.page .topBar .sideMenu .menuTabs .menuTab:after{
    content: url('..//icons/arrowRight.svg');
    position: absolute;
    left: 18%;
    vertical-align: middle;
}
.page .topBar .content{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background: #f5f5f5;
}
.page .topBar .content .subHeader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    height: 20px;
    padding: 19px 0 20px 0;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.page .topBar .content .subHeader .leftSubHeader{
    width: calc(50% - 30px);
    justify-content: flex-start;
    font-size: 19px;
    font-weight: 500;
    padding-left: 30px;
    letter-spacing: 0.03em;
}
.page .topBar .content .subHeader .rightSubHeader{
    width: calc(50% - 25px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 14px;
    padding-right: 25px;
    padding-top: 3px;
    letter-spacing: 0.03em;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab{
    color: #007bff;
    font-weight: 300;
    letter-spacing: 0.05em;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab:after{
    content:"/";
    margin:0 10px;
    color: #818a91;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab:last-child{
    color: #818a91;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab:last-child:after{
    content:"";
    margin: 0;
}
.page .content .mainContent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}
.page .content .mainContent .summary{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -130px;
}
.page .content .mainContent .summary .summaryTabs{
    width: calc(25% - 25px);
    background: white;
    margin-left: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.page .content .mainContent .summary .summaryTabs.Order{
    background-image: url("..//icons/orders.svg");
    background-repeat: no-repeat;
    background-position: 165px 20px;
    background-size: 50px 30px;
}
.page .content .mainContent .summary .summaryTabs.Pay{
    background-image: url('..//icons/paypalI.svg');
    background-repeat: no-repeat;
    background-position: 165px 20px;
    background-size: 50px 30px;
}
.page .content .mainContent .summary .summaryTabs.Price{
    background-image: url('..//icons/barGraph.svg');
    background-repeat: no-repeat;
    background-position: 165px 20px;
    background-size: 50px 30px;
}
.page .content .mainContent .summary .summaryTabs.Product{
    background-image: url('..//icons/rocket.svg');
    background-repeat: no-repeat;
    background-position: 165px 20px;
    background-size: 50px 32px;
}

.page .content .mainContent .summary .summaryTabs .summaryTitle{
    font-size: 15px;
    color: #818a91;
    letter-spacing: 0.05em;
    padding: 20px 0 15px 20px;
    font-weight: 500;
}
.page .content .mainContent .summary .summaryTabs .summaryNumber{
    font-size: 32px;
    color: #212529;
    font-weight: 400;
    padding-left: 20px;
}
.page .content .mainContent .summary .summaryTabs .summaryPercentage{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.page .content .mainContent .summary .summaryTabs .summaryPercentage .percentageNumber{
    font-size: 11px;
    letter-spacing: -0.03em;
    font-weight: 500;
    background: #1bb99a;
    color: white;
    padding: 4px 0;
    text-align: center;
    width: 38px;
    border-radius: 5px;
}
.page .content .mainContent .summary .summaryTabs.Order .summaryPercentage .percentageNumber{
    background: #1bb99a;
}
.page .content .mainContent .summary .summaryTabs.Pay .summaryPercentage .percentageNumber{
    background: #ff5d48;
}
.page .content .mainContent .summary .summaryTabs.Price .summaryPercentage .percentageNumber{
    background: #ff7aa3;
}
.page .content .mainContent .summary .summaryTabs.Product .summaryPercentage .percentageNumber{
    background: #f1b53d;
}
.page .content .mainContent .summary .summaryTabs .summaryPercentage .percentageText{
    font-size: 14px;
    letter-spacing: 0.01em;
    padding: 2px 5px;
    font-weight: 400;
    color: #818a91;
}
.footer{
    width: 100%;
    color: #818a91;
    font-size: 14px;
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    padding: 19px 30px 20px;
    letter-spacing: 0.03em;
}