body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
.page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.page .pageContent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.page .pageContent .sideMenu{
    display: flex;
    flex-wrap: wrap;
    width: 18%;
}
.page .pageContent .sideMenu .logo{
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
.page .pageContent .sideMenu .logo .logoIcon{
    display: inline-block;
    vertical-align: middle;
}
.page .pageContent .sideMenu .logo .logoIcon img{
    width: 19px;
}
.page .pageContent .sideMenu .logoName{
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 3px;
    vertical-align: middle;
}
.page .content{
    display: flex;
    flex-wrap: wrap;
    width: 82%;
}
.page .content .header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.page .content .header .leftHeader{
    justify-content: flex-start;
}
.page .content .header .rightHeader{
    justify-content: flex-end;
}