body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
.page{
    display: flex;
    flex-wrap: wrap;
}
.page .topBar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 5;
}
.page .topBar .logo{
    width: 20%;
    padding: 15px 0;
    margin-top: 10px;
    text-align: center;
}
.page .topBar .logo .logoIcon{
    display: inline-block;
    vertical-align: middle;
}
.page .topBar .logo .logoIcon img{
    width: 16px;
}
.page .topBar .logo .logoName{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 3px;
    vertical-align: middle;
}
.page .topBar .header{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background: #2d3d4f;
    padding: 8px 0;
}
.page .topBar .header .leftHeader{
    justify-content: flex-start;
    width: 50%;
}
.page .topBar .header .leftHeader{
    justify-content: flex-start;
    display: flex;
    width: 50%;
}
.page .topBar .header .leftHeader .hamburgerIcon{
    padding: 20px 10px 20px 30px;
}
.page .topBar .header .leftHeader .hamburgerIcon .line{
    width: 18px;
    height: 2px;
    margin-top: 3px;
    background: white;
}
.page .topBar .header .leftHeader .hamburgerIcon:hover .line{
    background: #64b0f2;
    transition: background .5s;
}
.page .topBar .header .leftHeader .search{
    padding: 10px 20px;
}
.page .topBar .header .leftHeader .search input{
    border: 1px solid rgba(129, 138, 145, 0.3);
    background: rgba(129, 138, 145, 0.1);
    height: 34px;
    padding: 0 20px;
    font-size: 13px;
    color: white;
    width: 200px;
    border-radius: 30px;
    background-image: url("..//icons/search.svg");
    background-repeat: no-repeat;
    background-position: 160px 10px;
    outline: none;
    letter-spacing: 0.03em;
    font-weight: 400;
}
.page .topBar .header .leftHeader .search:hover input {
    background-image: url("..//icons/searchWhite.svg");
}
.page .topBar .header .rightHeader{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.page .topBar .header .rightHeader .icon{
    padding: 18px 15px;
}
.page .topBar .header .rightHeader .icon img{
    width: 15px;
}
.page .topBar .header .rightHeader .icon.Mail img{
    width: 19px;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown{
    display: none;
    position: absolute;
    z-index: 10;
    right: 135px;
    top: 75px;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    background: white;
    width: 290px;
    box-shadow: 0 0px 24px 0 rgba(43, 61, 81, 0.06), 0 1px 0px 0 rgba(43, 61, 81, 0.02)
}
.page .topBar .header .rightHeader .icon.Mail:hover .mailDropdown{
    display: block;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .mailHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #1bb99a;
    padding: 15px;
    color: white;
    letter-spacing: 0.03em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .mailHeader .messageTitle{
    padding-top: 1px;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .mailHeader .messageAmount{
    background: #ff5d48;
    width: 9px;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 4px;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .message{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .photo{
    width: calc(30% - 40px);
    margin: 10px 10px 0 20px;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .photo img{
    width: 40px;
    border-radius: 20px;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .text{
    width: 70%;
    padding: 5px 0;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .text .name{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .text .info{
    font-size: 13px;
    letter-spacing: 0.03em;
    padding: 2px 0;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .text .time{
    font-size: 11px;
    color: #818a91;
    letter-spacing: 0.03em;
    padding: 2px 0;
}
.page .topBar .header .rightHeader .icon.Mail .mailDropdown .mailFooter{
    background: #e9ecef;
    font-size: 14px;
    color: #6f777f;
    letter-spacing: 0.03em;
    padding: 15px;
}
.page .topBar .header .rightHeader .icon.Activity{
    margin-top: 4px;
}
.page .topBar .header .rightHeader .account{
    padding: 10px 20px;
}

.page .topBar .header .rightHeader .account img{
    border-radius: 20px;
    width: 35px;
}
.page .topBar .sideMenu{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 100%;
    overflow: auto;
}
.page .topBar .sideMenu .menuTitle{
    width: 100%;
    color: #868e96;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 30px;
    height: 20px;
}
.page .topBar .sideMenu .menuTabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -40px;
}
.page .topBar .sideMenu .menuTabs .menuTab{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 16px 0;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 500;
    cursor: default;
    opacity: 0.8;
}
.page .topBar .sideMenu .menuTabs .menuTab .menuTabIcon{
    padding-left:30px;
    text-align: center;
    width: calc(15% - 30px);

}
.page .topBar .sideMenu .menuTabs .menuTab .menuTabTitle{
    width: calc(85% - 30px);
    padding-left: 30px;
    color: rgba(43, 61, 81, 1);
}

.page .topBar .sideMenu .menuTabs .menuTab.Selected{
    background: #64b0f2;
    opacity: 1;
}
.page .topBar .sideMenu .menuTabs .menuTab.Selected .menuTabTitle{
    color: white;
    letter-spacing: 0.05em;
}
.page .topBar .sideMenu .menuTabs .menuTab:after{
    content: url('..//icons/arrowRight.svg');
    position: absolute;
    left: 18%;
    vertical-align: middle;
}
.page .topBar .sideMenu .menuTabs .menuTab:hover{
    opacity: 1;
    transition: opacity .5s;
}
.page .topBar .sideMenu .menuTabs .menuTab.Selected:after{
    content: "1";
    position: absolute;
    left: 17%;
    vertical-align: middle;
    font-size: 11px;
    color:white;
    background: #039cfd;
    width: 20px;
    height: 16px;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px;
}
.page .topBar .sideMenu .menuTabs .menuTab.Forms:after{
    content: "8";
    position: absolute;
    left: 17%;
    vertical-align: middle;
    font-size: 11px;
    color:white;
    background: #f1b53d;
    width: 20px;
    height: 16px;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px;
}
.page .topBar .sideMenu .menuTabs .menuTab.Pages:after{
    content: "13";
    position: absolute;
    left: 17%;
    vertical-align: middle;
    font-size: 11px;
    color:white;
    background: #1bb99a;
    width: 25px;
    height: 16px;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px;
}
.page .topBar .content{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background: #f5f5f5;
    overflow: auto;
}
.page .topBar .content .subHeader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    height: 20px;
    padding: 19px 0 20px 0;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.page .topBar .content .subHeader .leftSubHeader{
    width: calc(50% - 30px);
    justify-content: flex-start;
    font-size: 19px;
    font-weight: 500;
    padding-left: 30px;
    letter-spacing: 0.03em;
}
.page .topBar .content .subHeader .rightSubHeader{
    width: calc(50% - 25px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 14px;
    padding-right: 25px;
    padding-top: 3px;
    letter-spacing: 0.03em;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab{
    color: #007bff;
    font-weight: 300;
    letter-spacing: 0.05em;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab:after{
    content:"/";
    margin:0 10px;
    color: #818a91;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab:last-child{
    color: #818a91;
}
.page .topBar .content .subHeader .rightSubHeader .rightSubHeaderTab:last-child:after{
    content:"";
    margin: 0;
}
.page .content{
    height: 100%;
    overflow: scroll;
}
.page .content .mainContent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}
.page .content .mainContent .summary{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 0 0;
}
.page .content .mainContent .summary .summaryTabs{
    width: calc(25% - 25px);
    background: white;
    margin-left: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.page .content .mainContent .summary .summaryTabs.Order{
    background-image: url("..//icons/orders.svg");
    background-repeat: no-repeat;
    background-position: 165px 20px;
    background-size: 50px 30px;
}
.page .content .mainContent .summary .summaryTabs.Pay{
    background-image: url('..//icons/paypalI.svg');
    background-repeat: no-repeat;
    background-position: 165px 20px;
    background-size: 50px 30px;
}
.page .content .mainContent .summary .summaryTabs.Price{
    background-image: url('..//icons/barGraph.svg');
    background-repeat: no-repeat;
    background-position: 165px 20px;
    background-size: 50px 30px;
}
.page .content .mainContent .summary .summaryTabs.Product{
    background-image: url('..//icons/rocket.svg');
    background-repeat: no-repeat;
    background-position: 165px 22px;
    background-size: 50px 32px;
}
.page .content .mainContent .summary .summaryTabs .summaryTitle{
    font-size: 15px;
    color: #818a91;
    letter-spacing: 0.05em;
    padding: 20px 0 15px 20px;
    font-weight: 500;
}
.page .content .mainContent .summary .summaryTabs .summaryNumber{
    font-size: 32px;
    color: #212529;
    font-weight: 400;
    padding-left: 20px;
}
.page .content .mainContent .summary .summaryTabs .summaryPercentage{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.page .content .mainContent .summary .summaryTabs .summaryPercentage .percentageNumber{
    font-size: 11px;
    letter-spacing: -0.03em;
    font-weight: 500;
    background: #1bb99a;
    color: white;
    padding: 4px 0;
    text-align: center;
    width: 38px;
    border-radius: 5px;
}
.page .content .mainContent .summary .summaryTabs.Order .summaryPercentage .percentageNumber{
    background: #1bb99a;
}
.page .content .mainContent .summary .summaryTabs.Pay .summaryPercentage .percentageNumber{
    background: #ff5d48;
}
.page .content .mainContent .summary .summaryTabs.Price .summaryPercentage .percentageNumber{
    background: #ff7aa3;
}
.page .content .mainContent .summary .summaryTabs.Product .summaryPercentage .percentageNumber{
    background: #f1b53d;
}
.page .content .mainContent .summary .summaryTabs .summaryPercentage .percentageText{
    font-size: 14px;
    letter-spacing: 0.01em;
    padding: 2px 5px;
    font-weight: 400;
    color: #818a91;
}
.page .content .mainContent .salesChart{
    width: calc(68% - 40px);
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 20px 20px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    border-radius: 8px;
}
.page .content .mainContent .title{
    width: calc(100% - 40px);
    margin: 20px;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.page .content .mainContent .chartKeys{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}
.page .content .mainContent .chartKeys .key{
    display: flex;
    flex-wrap: wrap;

}
.page .content .mainContent .chartKeys .circle{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 0.09em solid #3db9dc;
    margin-top: 2px;
    margin-right: 5px;
}
.page .content .mainContent .chartKeys .key .keyTitle{
    font-size: 16px;
    margin-right: 15px;
    letter-spacing: 0.05em;
}
.page .content .mainContent .chartKeys .key.Blue .keyTitle{
    color: #3db9dc;
}
.page .content .mainContent .chartKeys .key.Green .keyTitle{
    color: #1bb99a;
}
.page .content .mainContent .chartKeys .key.Gray .keyTitle{
    color: #818a91;
}
.page .content .mainContent .chartKeys .triangle{
    margin-top: 2px;
    margin-right: 5px;
}
.page .content .mainContent .chartKeys .triangle img{
    width: 15px;
}
.page .content .mainContent .chartKeys .square{
    width: 10px;
    height: 10px;
    border: 0.09em solid #818a91;
    border-radius: 2px;
    margin-top: 2px;
    margin-right: 6px;
}
.page .content .mainContent .salesChart .chart{
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: #818a91;
    justify-content: center;
    padding: 0 0 30px 0;
    align-items: flex-end;
    margin:30px 60px 0 20px ;

}
.page .content .mainContent .salesChart .chart .yaxis{
    display: flex;
    flex-direction: column;
    width: 8.3%;
    padding-bottom: 32px;
}

.page .content .mainContent .salesChart .chart .yaxis .number{
    padding-top: 50px;
    text-align: center;
}
.page .content .mainContent .salesChart .chart .yaxis .number:first-child{
    padding-top: 0;
}

.page .content .mainContent .salesChart .chart .bars{
    display: flex;
    flex-direction: column;
    width: 8.3%;
    align-items: flex-end;

}

.page .content .mainContent .salesChart .chart .bars.A .gray{
    width: 20px;
    height: 65px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.A .green{
    width: 20px;
    height: 120px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.A .blue{
    width: 20px;
    height: 30px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.B .gray{
    width: 20px;
    height: 50px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.B .green{
    width: 20px;
    height: 40px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.B .blue{
    width: 20px;
    height: 50px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.C .gray{
    width: 20px;
    height: 35px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.C .green{
    width: 20px;
    height: 60px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.C .blue{
    width: 20px;
    height: 60px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.D .gray{
    width: 20px;
    height: 50px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.D .green{
    width: 20px;
    height: 40px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.D .blue{
    width: 20px;
    height: 50px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.E .gray{
    width: 18px;
    height: 60px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.E .green{
    width: 18px;
    height: 100px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.E .blue{
    width: 18px;
    height: 25px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.F .gray{
    width: 18px;
    height: 60px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.F .green{
    width: 18px;
    height: 100px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.F .blue{
    width: 18px;
    height: 25px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.G .gray{
    width: 18px;
    height: 60px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.G .green{
    width: 18px;
    height: 100px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.G .blue{
    width: 18px;
    height: 25px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.H .gray{
    width: 18px;
    height: 60px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.H .green{
    width: 18px;
    height: 100px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.H .blue{
    width: 18px;
    height: 25px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.J .gray{
    width: 18px;
    height: 60px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.J .green{
    width: 18px;
    height: 100px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.J .blue{
    width: 18px;
    height: 25px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.K .gray{
    width: 18px;
    height: 60px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.K .green{
    width: 18px;
    height: 100px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.K .blue{
    width: 18px;
    height: 25px;
    background: rgb(61, 185, 220);
}

.page .content .mainContent .salesChart .chart .bars.L .gray{
    width: 18px;
    height: 60px;
    background: rgb(235, 239, 242);
}
.page .content .mainContent .salesChart .chart .bars.L .green{
    width: 18px;
    height: 100px;
    background: rgb(27, 185, 154);
}
.page .content .mainContent .salesChart .chart .bars.L .blue{
    width: 18px;
    height: 25px;
    background: rgb(61, 185, 220);
}
.page .content .mainContent .salesChart .chart .bars .xaxisNumber{
    font-size: 11px;
    height: 20px;
    padding-top: 15px;
    text-align: center;
}

.page .content .mainContent .trends{
    width: calc(32% - 20px);
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin: 20px 20px 20px 0;
}
.page .content .mainContent .trends .trendsOptions{
    text-align: center;
    margin:0 auto;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}
.page .content .mainContent .trends .trendsOptions button{
    text-align: center;
    background: #6f777f;
    opacity: 0.8;
    margin-left: -4px;
    border: none;
    font-size: 14px;
    color: white;
    padding: 10px;
}
.page .content .mainContent .trends .trendsOptions button:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.page .content .mainContent .trends .trendsOptions button:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.page .content .mainContent .trends .trendsOptions button:hover{
    opacity:1;
    transition: opacity .6s;
}
.page .content .mainContent .trends .chart{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.page .content .mainContent .trends .chartKeys{
    padding-left: 10px;
    margin: 20px 0 30px 0;
}

.inbox{
    width: calc(28% - 40px);
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin: 0 20px 20px 20px;
    overflow: scroll;
}
.inbox .messages{
    width: calc(100% - 40px);
    border-bottom: 1px solid #f7f7f9;
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    padding: 8px 0 10px 0;
}
.inbox .messages .message:first-child{
    margin-top: -20px;
}
.inbox .messages:last-child{
    padding-bottom: 30px;
}
.inbox .messages .time{
    width: 100%;
    text-align: right;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #818a91;
}
.inbox .messages .photo{
    width: 20%;

}
.inbox .messages .photo img{
    width: 38px;
    border-radius: 20px;
}
.inbox .messages .message{
    width: calc(80% - 10px);
    padding-left: 10px;
}
.inbox .messages .message .name{
    font-size: 15px;
    letter-spacing: 0.03em;
}
.inbox .messages .message .text{
    font-size: 12px;
    color: #818a91;
    letter-spacing: 0.05em;
}


.sales{
    display: flex;
    flex-wrap: wrap;
    width: 28%;
}
.sales .salesStats{
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    width: calc(100% - 20px);
    margin-right: 20px;
}
.sales .salesStats .title{
    width: 100%;
}
.sales .salesStats .info{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 10px 0;
    padding: 0 20px;
    width: calc(100% - 40px);
    letter-spacing: 0.03em;
    font-size: 14px;
}
.sales .salesStats .info .device{
    width: 50%;
}
.sales .salesStats .info .percentage{
    font-weight: 600;
    text-align: right;
    width: 50%;
}
.sales .salesStats .info .percentage.Pink{
    color: #ff5d48;
}
.sales .salesStats .info .percentage.Green{
    color: #1bb99a;
}
.sales .salesStats .info .percentage.Yellow{
    color: #f1b53d;
}

.sales .salesStats .graph{
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    width: calc(100% - 40px);
    padding: 10px 20px;
}
.sales .salesStats .graph img{
    width: 100%;
}
.topContracts{
    width: calc(44% - 20px);
    margin:0 20px 20px 0;
    background: white;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    border-radius: 8px;
}
.topContracts table{
    width: calc(100% - 45px);
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}
.topContracts table tr{
    margin: 0;
    padding: 0;
}
.topContracts table tr td{
    border: 1px solid #e9ecef;
    padding: 15px 10px;
    margin: 0;
    vertical-align: middle;
    letter-spacing: 0.03em;
}
.topContracts table tr td h4{
    margin: auto auto;
    font-size: 14px;
    text-align: left;
    color: #818a91;
    letter-spacing: 0.03em;
    line-height: 20px;

}
.topContracts .chartTitle{
    font-size: 15px;
    font-weight: 600;
}
.topContracts tr td .paid{
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.03em;
    background: #1bb99a;
    height: 12px;
    padding: 4px 0;
    color: white;
    border-radius: 2px;
}
.topContracts tr td .unpaid{
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.03em;
    background: #ff5d48;
    height: 12px;
    padding: 4px 0;
    color: white;
    border-radius: 2px;
}
.footer{
    width: 100%;
    color: #818a91;
    font-size: 14px;
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    padding: 19px 30px 20px;
    letter-spacing: 0.03em;
}


@media (max-width: 1199px) {

    .page .content .mainContent .summary .summaryTabs{
        width: calc(50% - 30px);
    }
    .page .content .mainContent .summary .summaryTabs:first-child{
        margin-bottom: 20px;
    }
    .page .content .mainContent .summary .summaryTabs.Order{
        background-position: 96% 20px;
    }
    .page .content .mainContent .summary .summaryTabs.Pay{
        background-position: 96% 20px;
    }
    .page .content .mainContent .summary .summaryTabs.Price{
        background-position: 96% 20px;
    }
    .page .content .mainContent .summary .summaryTabs.Product{
        background-position: 96% 22px;
    }
    .page .content .mainContent .salesChart{
        width: calc(100% - 40px);
    }
    .page .content .mainContent .trends{
        width: calc(100% - 40px);
        margin: 0 20px 20px 20px;
    }
    .inbox{
        width: calc(50% - 40px);
        display: flex;
        flex-wrap: wrap;
        background: white;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
        border-radius: 8px;
        margin: 0 20px 20px 20px;
        overflow: scroll;
    }
    .sales{
        width: 50%;
    }
    .sales .salesStats .info{
        margin: 10px 0 10px 0;
    }
    .topContracts{
        width: calc(100% - 40px);
        margin:0 20px 20px 20px;
        background: white;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
        border-radius: 8px;
    }

    .topContracts table tr td h4{
        text-align: center;
    }
    .topContracts table tr td{
        width: 20%;
    }
    .topContracts tr td .paid{
        width: 50px;
        margin: 0 auto;
    }
    .topContracts tr td .unpaid{
        width: 50px;
        margin: 0 auto;
    }
}